/*Pagination*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

/*if you need another colot for active button use this class*/
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*user role*/
#role {
    text-transform: capitalize;
    font-weight: bold; 
    color:blue;
}


.right {
    float:right;
}

/*plugin titles*/
.titles {
    font-weight: bold; 
    font-size: 1.2em;
}

/*buttons*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0em 1.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.dlbutton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.dlbutton:hover {
  background-color: #555555;
  color: white;
}
 
 .editicon {
    padding: 5px 5px;
    width: 50px;
    height: 50px;
 }
 
 
 /*profile image on the table*/
 .profileImg{
     border-radius: 50%; 
     padding:2px;
     float:left;
 }
 
 .author{
     min-width: 130px;
     display: inline-flex;
     align-items: center;
 }
 
 
 /*edit page*/
#borderEditPage {
    border: 3px solid rgba(60,74,55,0.39);
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    box-sizing: border-box;
}

#borderUpdateFile {
    outline: 1px solid rgba(0,0,0,0.39);
    border-radius: 1px 1px 1px 1px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0faff;
}

.file-upload {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.file-upload__input {
  display: none;
}

.file-upload__button {
  -webkit-appearance: none;
  background: #3b90ff;
  border: 2px solid #002b63;
  border-radius: 4px;
  outline: none;
  padding: 0.5em 0.8em;
  margin-right: 15px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.file-upload__button:hover {
  background-color: #1e61b9;
  color: white;
}


.file-upload__label {
  max-width: 250px;
  font-size: 0.95em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
}


/*ARLEMs table*/
.table-responsive { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
.table-responsive  tr:nth-of-type(odd) { 
  /*background: #eee;*/ 
}
.table-responsive  th { 
  font-weight: bold; 
    background-color: #eee; 
}

.table-responsive  td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}

#assignedTable td  
{    
    background-color: #cfffbf; 
    line-height: 40px; 
 }


 /*Thumbnail and modal*/
 
 .ImgThumbnail, .no-thumbnail{
    display: block;
    border: 1px solid #ccc; 
    min-width:140px;
    max-width:140px;
    max-height:80px;
    min-height:80px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.ImgThumbnail:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}


#modal {
  margin: auto;
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 1000; /* Sit on top */
}



#modalImg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: auto;
    border: 3px solid #fff;
}



.modalImage{
    height: auto;
    width: 100%;
    border-top: 2px solid #fff;
}

#modalTitle {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
}


/*the detailview for the block*/
#detailview{

    display: block;
    margin: 0 auto;
    border: 2px solid #ccc; 
    text-align: center; 
    width: 33%; /* Full width */
    height: auto;
}


#detailview-imgcontainer{
    border-bottom: 2px solid #ccc; 
    border-top: 2px solid #ccc; 
  width: 100%;
  height: auto;
}

#detailview-img{

  width: 100%;
  height: auto;
}

#detailview-detail{
    height: auto; 
    text-align: left; 
    padding: 20px;

}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 1300px) {

        .table-responsive  td, th { 
          text-align: left; 
        }
        
        .ImgThumbnail, .no-thumbnail{

           margin-left: 0;
           margin-right: 0;
       }     

        #modalImg {
            top: 0;
            left: 0;
            transform: translate(0%, 0%);
        }
        
        
        .modalImage{
            height: auto;
            width: 100%;
        }
        
        
	/* Force table to not be like tables anymore */
	.table-responsive, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-responsive thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
                
	}
	
	.table-responsive tr { border: 2px solid #ccc; }
	
	.table-responsive td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-responsive td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
                font-weight: bold; 
                
	}
	
	/*
	Label the data
	*/
	.table-responsive td:nth-of-type(1):before { content: "Time Created"; }
	.table-responsive td:nth-of-type(2):before { content: "Time Modified"; }
	.table-responsive td:nth-of-type(3):before { content: "Activity Name"; }
        .table-responsive td:nth-of-type(4):before { content: "Thumbnail"; }
	.table-responsive td:nth-of-type(5):before { content: "Size"; }
	.table-responsive td:nth-of-type(6):before { content: "Author"; }
	.table-responsive td:nth-of-type(7):before { content: "Download"; }
	.table-responsive td:nth-of-type(8):before { content: "Edit"; }
	.table-responsive td:nth-of-type(9):before { content: "QR Code"; }
	.table-responsive td:nth-of-type(10):before { content: "Public"; }
	.table-responsive td:nth-of-type(11):before { content: "Delete"; }
	.table-responsive td:nth-of-type(12):before { content: "Assign"; }
        

        /*the detailview for the block*/
        #detailview{
            width: 60%; /* Full width */
        }
}

@media 
only screen and (max-width: 640px) {
        /*the detailview for the block*/
        #detailview{

            width: 100%; /* Full width */
        }
}