.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

/*if you need another colot for active button use this class*/
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


#role {
    text-transform: capitalize;
    font-weight: bold; 
    color:blue;
}


.right {
    float:right;
}


.titles {
    font-weight: bold; 
    font-size: 1.2em;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0em 1.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.dlbutton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.dlbutton:hover {
  background-color: #555555;
  color: white;
}


#arlemTable tr {
    line-height: 40px; 
    background-color: #ffffff; /* Green */
}

#arlemTable th {
    line-height: 40px; 
    background-color: #ddd; /* Green */
}

#assignedTable td  
{   
    background-color: #cfffbf; /* Green */
    line-height: 40px; 
 }